[client]
#password       = your_password
port            = 3306
socket          = /run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The MariaDB server
[mysqld]
port            = 3306
socket          = /run/mysqld/mysqld.sock
user=mysql
datadir=/var/lib/mysql
# skip-networking = 0
bind-address = 0.0.0.0